* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

body {
    overflow-x: hidden;
}
/* Fixed menu */

.fixedmenu {
    position: sticky;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
}
header {
    height: 70px;
    line-height: 70px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 13px;
}

.bg-grey {
    background-color: #f5f8fa;
}

.container {
    width: 85%;
    max-width: 1200px;
    min-width: 1200px;
    margin: 0 auto;
}

#bordogrigio {
    border-bottom: 1px solid #e0e6ed;
}

.fa-globe {
    color: #33475b;
}

#globe {
    float:left;
}

#linguamenu {
    float: left;
    padding-left: 10px;
}

#linguamenu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#linguamenu a {
    color: #33475b;
    text-decoration: none;
}

#linguamenu li ul {
    display: none
}


#linguamenu li .fix{
    height: 20px;
    line-height: 20px;
    text-align: center;
}

#linguamenu li:hover ul {
    display: block;
    position: absolute;
    z-index:1;
    width:100px;
    border:1px solid black;
    background-color: white;
}

.fa-caret-down {
    color: #7c98b6;
    display: inline-block;
    margin-left: 5px;

}

.divisore {
    float: left;
}

.fa-minus{
    color: #cbd6e2;
    margin-left: 10px;
    transform: rotate(90deg);
}

.divisore a {
    color:#33475b;
    text-decoration: none;
}

.cta-container {
    float: right;
}

.fa-search {
    color: #00a4bd;
    padding-right: 28px;
    cursor: pointer;
}

.cta-login {
    color: #ff7a59;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #ff7a59;
    padding: 9px 16px;
    margin-right: 10px;
    cursor: pointer;
}

.cta-hub {
    color: white;
    border-radius: 3px;
    border: 1px;
    background-color: #ff7a59;
    padding: 9px 16px;
    cursor: pointer;
}
/* Fixed menu !END! */

/* Static menu */

.bg-white {
    background-color: white;
}

.header2 {
    height: 90px;
    line-height: 90px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 13px;
}

.header2 img {
    vertical-align: middle;
}

.immagine2 {
    float:left;
    cursor: pointer;
}

.menu2 {
    float: left;
    margin-left: 443px;
    font-size: 15px;
}

.menu2 a {
    padding-left: 5px;
}

.menu2 #linguamenu {
    margin-left: 20px;
}

/* Static menu END */

/* ADS CTA */

.bg-blu {
    background-color: #425b76;
}

.header3 {
    height: 90px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    position: relative;
}

.text {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(0%, -50%);
}

h2 {
    font-size: 15px;
    color: white;
    font-weight: 300;
}

.learnmore {
    float: right;
}

.header3 .learnmore {
    line-height: 90px;
}

.learn-button {
    padding: 15px 30px;
    border-radius: 3px;
    border: none;
    color: #425b76;
    background-color: #ffffff;
    font-weight: 600;
    font-size: 12px;
    cursor: pointer;
}

/* END ADS CTA */

/* PINK MAIN */

main {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.bg-pink {
    background-color: #FFF2EE;
    border-bottom: 5px solid #33475b;
}

.containerpink {
    /* Da togliere */
    height: 700px;
    /* si */
    background-image: url('../img/sfondo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    /* da mettere su? */
    position: relative;
}

.marketing {
    width: 40%;
    position: absolute;
    top: 10%
}

h1 {
    color: #33475b;
    font-size: 50px;

}

.marketing p {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #33475b;

}

.big {
    font-size: 15px;
    padding: 25px 40px;
    margin-bottom: 10px;
}

/* END */

/* inizio parte cards */
.bg-light {
    background-color: #f5f8fa;
}

.stack {
    padding: 100px 0 50px;
}

.containerlogostack {

    position: relative;
    /* background-color: black; */
}

.stack-logo {
    position: relative;
    left: 300px;
}

.powerlines {
    text-align: center;

}

h3 {
    color: #33475b;
    font-size: 30px;
}

.stacklogo p {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #33475b;
}

.cards {
    height: 1000px;

}

.card1 {
    width: 100%;
    height: 300px;
    padding: 10px;
    background-color: #ffffff;
    margin-bottom: 50px;
    position: relative;
}

.card2 {
    width: 32.2%;
    height: 600px;
    text-align: center;
    padding: 10px;
    background-color: #ffffff;
    margin-bottom: 50px;
    float: left;
    position: relative;
}

#margine {
    margin-right: 20px;
}

.sottocard {
    height: 100%;
}

.sottocard2 {
    height: 100%;
}

.immaginina {
    width: 20%;
    height: 100%;
    line-height: 100%;
    float: left;
    text-align: center;
    padding: 30px;

}

.immaginina img {
    width: 80%;
    margin-bottom: 30px;
    margin-top: 30px;
}

.immaginina button {
}

.aria {
    width: 10%;
}

.freecrm {
    width: 80%;
    height: 100%;
    float: right;
    padding: 60px;

}

h4 {
    color: #33475b;
    font-size: 25px;
}

.immaginina p {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #33475b;
}

.freecrm h5 {
    color: #33475b;
    font-size: 15px;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 30px;
}

hr {
    background-color: #eff2f6;
    border-width: 0;
    color: #eff2f6;
    height:1px;
    width: 600px;
    line-height:0;
    margin: 0.5px 0;
    text-align: center;
    position: relative;
    bottom: 39px;
    left: 200px;
}

hr:after {
    font-size:1.25px;
    position: relative;
    left: -0.5px;
}​

.freecrm p {
    color: #33475b;
    text-transform: uppercase;
}

.card1:hover {
    transform: scale(103%);
    transition: "0.4s" ;
}

.immaginina2 {
    width: 100%;
    height: 100%;
    line-height: 100%;
    text-align: center;
    padding: 30px;
}

.immaginina2 img {
    width: 40%;
    margin-bottom: 30px;
    margin-top: 30px;
}


.immaginina2 p {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #33475b;
}

.immaginina2 h5 {
    color: #33475b;
    font-size: 15px;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 30px;
}



.card2:hover {
    transform: scale(103%);
    transition: "0.4s" ;
}

.medium {
    padding: 10px 30px;
}

.buttonssss {

}
